<link href="components/gameView/gameViewStyle.css" rel="stylesheet" type="text/css">

<div ng-controller="gameViewCtrl">
	<h1>Welcome to Cards At Omnispear Prototype Test Page</h1>

	<div class="row">
		<div class="col-sm-3"><div class="deck card"><h2>Cards</br>At<br>Omnispear</h2></div></div>
		
		<div class="col-sm-2"><div class="question card"><h2>Generally, Robert</br>______</br>Too Much.</h2></div></div>
		
		<div class="col-sm-3"><textarea ng-class="gameViewStyle" class="custom card" cols="20" rows="10">{{ selectedCard }}</textarea></div>

		<div class="col-sm-2"><div class="trash card"><h2><br>Trash<br>Cards<br>Here</h2></div></div>

		<div class="col-sm-2"><textarea ng-class="gameViewStyle" class="custom card" cols="20" rows="10">Fill in the text for a custom card.</textarea></div>
	</div>

	</br>

	<div class="row">
		<div class="btn card" ng-repeat="card in deckOfCards" ng-click="playerCardClicked(this.card.id);" ng-show="card.selected == false">{{card.message}}</div>
	</div>
	<button class="btn btn-primary" ng-click="reset();">Reset</button>
<!--
		<div class="col-sm-2"><div class="btn card" ng-click="playerCardClicked(this.count);">id:{{ count }}  {{ cardMessage }}</div></div>-->
		<!-- <div class="col-sm-2"><button class="btn card" ng-click="count = count + 1" ng-init="count=0">Increment {{ count }}</button></div> 
		<div class="col-sm-2"><div class="btn card" ng-click="playerCardClicked(0)"><h2>Cards</br>At<br>Omnispear</h2></div></div>
		<div class="col-sm-2"><div class="btn card" ng-click="playerCardClicked"><h2>Cards</br>At<br>Omnispear</h2></div></div>
		<div class="col-sm-2"><div class="btn card"><h2>Cards</br>At<br>Omnispear</h2></div></div>
		<div class="col-sm-2"><div class="btn card"><h2>Cards</br>At<br>Omnispear</h2></div></div>-->
	


<br><br><br><br><br>
<h3>Test UI Elements</h3>
	<textarea ng-class="gameViewStyle" class="card" cols="20" rows="10">textarea</textarea>

	<div class="card">
		<p>div</p>
	</div>

	<p>
		<button class="btn card" ng-click="">Button</button>
	</p>

	<button class="btn btn-primary">Test</button>


</div>